.box {
  position: relative;
  width: 100%;
  max-width: 250px;
}
.box  img {
  width: 100%;
}
.box .btn.right{
  position: absolute;
  top: 2%;
  left: 1%;
}
.box .btn.left {
  position: absolute;
  top: 2%;
  left: 70%;
}
.button {
  background-color: #f1cb24; /*  */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
